* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #f7c6d0, #fff4f7);
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}


/* INTRO */
.intro {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: #7a1f3d;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-out {
  animation: fadeOut 2s ease forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* QUESTION */
.question-section h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #7a1f3d;
  animation: fadeIn 2s ease forwards;
}

.buttons {
  margin-top: 30px;
  position: relative;
  height: 100px;
  animation: fadeIn 2s ease forwards;
}

button {
  padding: 12px 28px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
}

.yes-btn {
  background-color: #7a1f3d;
  color: white;
  transition: transform 0.3s ease, background 0.2s ease;
}

.yes-btn:hover {
    background-color: #ff8fb1;
    transform: scale(1.05);
}

.no-btn {
  background-color: #ff8fb1;
  color: white;
  left: 0;
  top: 0;
  position: relative;
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

/* RESULT */
.result {
  text-align: center;
}

.gif {
  width: 250px;
  margin-bottom: 20px;
}

.yay {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #7a1f3d;
}

.hidden {
  display: none;
}
